body{
    background-color: #f9f9f9;
}
.container{
    text-align: center;
}
h1{
    font-size: 40px;
    font-weight: bold;
    color: #333;                     
    text-align: center;              
    margin-bottom: 20px;
    text-transform: uppercase;       
    letter-spacing: 2px;             
}

h2 {
    font-size: 28px;
    font-weight: 600;
    color: #4CAF50;                 
    text-align: center;
    margin-bottom: 15px;
}

h4 {
    font-size: 20px;
    font-weight: normal;
    color: #666;                     
    text-align: center;
    font-style: italic;
}
.instruct{
    color: hsl(0, 79%, 68%);
}
input{
    width: 80px;
    padding: 12px 15px;
    border: none;
    border-radius: 25px;
    background-color: #f1f1f1;
    font-size: 16px;
    transition: 0.3s;
}

#minNumber,#maxNumber{
    margin: 0px 12px;
}

input:focus {
    background-color: #fff;
    border: 2px solid #6200ea;
}

button{
    padding: 10px 20px; 
    background-color: #4CAF50;    
    color: white;               
    border: none;              
    border-radius: 8px;              
    font-size: 16px;   
    cursor: pointer;             
    transition: 0.3s;             
    margin-left: 10px;
}
button:hover {
    background-color: #45a049;   
}

button:active {
    background-color: #3e8e41;    
}

.instructions{
    background-color: #f9f9f9 ;    
    border: 2px solid #4CAF50; 
    border-radius: 10px;          
    padding: 20px;
    max-width: 600px;
    margin: 30px auto;          
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    line-height: 1.6;
}
.instructions h3 {
    color: #4CAF50;               
    text-align: center;
    margin-bottom: 15px;
}
.instructions p {
    font-size: 16px;
    margin-bottom: 10px;
}

.instructions ul {
    padding-left: 20px;
}

.instructions li {
    margin-bottom: 8px;
}